/* @import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css"); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}

body,
input,
pre,
textarea,
button {
  margin: 0;
  font-family: "Pretendard", "Apple SD Gothic Neo", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  margin: 0;
  font-family: "IBM Plex Mono", "Pretendard", "Apple SD Gothic Neo",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

.body-scroll-lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.slick-track {
  padding: 20px;
}

.slick-slide {
  /* margin: 0 11px; */
  height: auto;
  padding: 0px 20px;
  margin: 0px -9px;
}

/* the parent */
.slick-list {
  margin: 0 -11px;
}

.grecaptcha-badge {
  visibility: hidden;
}
