
.WrtnEditorTheme__bold {
  font-weight: 900;
}

.WrtnEditorTheme__strikethrough__underline {
  text-decoration: underline line-through;
}

.WrtnEditorTheme__strikethrough {
  text-decoration: line-through;
}

.WrtnEditorTheme__italic {
  font-style: italic;
}

.WrtnEditorTheme__underline {
  text-decoration: underline;
}

.WrtnEditorTheme__ltr {
  text-align: left;
}

.WrtnEditorTheme__center {
  text-align: center;
}

.WrtnEditorTheme__rtl {
  text-align: left;
}

.WrtnEditorTheme__root {
  word-break: break-all !important;
}

.WrtnEditorTheme__Heading1 {
  line-height: 150%;
}

.WrtnEditorTheme__Heading2 {
  line-height: 150%;
}

.WrtnEditorTheme__Heading3 {
  line-height: 150%;
}